*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #434c50;
}

/* HEADER*/
header .logo{
  background-color: rgb(255, 255, 255);
  padding: 10px;
  padding-left: 15px;
}

header .logo img{
  vertical-align: middle;
}

header .logo strong{
  vertical-align: middle;
  font-size: 40px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/* MAIN */
.container{
  background-color: white;
  border-radius: 3px;
  width: 1200px;
  height: fit-content;
  margin: 20px auto ;
  padding-inline: 40px;
  padding-block: 10px;
}

button{
  border-radius: 5px;
  padding: 10px;
}

.main-buttons{
  padding-top: 10px;
  border-bottom: 1px solid #F6F8F9;
}

.Task{
  background-color: #47ADF1;
  border-color: #47ADF1;
  color: #F6F8F9;
}

.Section{
  background-color: white;
  border-color: #F6F8F9;
}